<div class="shogun-root" data-shogun-id="69416b0aac99ecb492cb82e9" data-shogun-site-id="adbd5cb7-d80d-42de-ac33-ae276198cf19" data-shogun-section-id="69416b0aac99ecb492cb82e9" data-shogun-section-version-id="6942a1ed6e51ac4b01d62ea1" data-shogun-platform-type="shopify" data-shogun-variant-id="6942a1ed6e51ac4b01d62faa" data-shogun-page-type="section" data-shogun-power-up-type="" data-shogun-power-up-id="" data-region="main"> <link rel="stylesheet" type="text/css" href="https://a.shgcdn2.com/css-2025-08-04-5653/6942a1ed6e51ac4b01d62ea1_6942a1ed6e51ac4b01d62faa.css"/> <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:700,600|Work+Sans:400"/> <script type="text/javascript" src="https://a.shgcdn2.com/js-2025-09-16-1610/global-assets-9ef81eecf321a80bae2ba3793d0abdafd5eb31e7.js" defer></script> <script type="text/javascript" src="https://a.shgcdn2.com/jarallax-01f8997238c2f396dfe6f03c89d07de4.js" defer></script> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-a131908d-ca7f-4990-aba7-b9c141f2d718"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-4f90ed4f-04c9-4e0e-b872-89d2e5f6595e"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-8f06396c-c104-436e-925a-3c4b0211abff"> <div class="shg-box-overlay"></div><div class="shg-box-video-wrapper"></div><div class="shg-box-content"> </div> </div> </div><script class="__SHG_DATA__" type="application/json">
      {
        "__shgVideoParallax": {
          "id": "#s-8f06396c-c104-436e-925a-3c4b0211abff",
          "url": "",
          "sound": false,
          "speed": 1,
          "backupImage": ""
        }
      }
    </script> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-67f3e396-5406-4e79-ae0b-b84401bda9d4"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-c " id="s-ea8f61de-6b77-4c18-b23b-058fa689ad8f"> <div class="shg-row" data-col-grid-mode-on="true"> <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c shogun-lazyload" id="s-1b859219-ad86-4dd8-a706-d45e8dd4d216"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-140fa115-46ac-4ded-a897-174d4dd24979" class="shg-c shg-align-left"> <div class="shogun-heading-component"> <h1> Demo Heading </h1> </div> </div> <div id="s-0737990f-2c85-463f-b921-1726e2502629-root" class="shg-c shg-btn-wrapper shg-align-left"> <a id="s-0737990f-2c85-463f-b921-1726e2502629" class="shg-btn shg-cse shg-btn-text " href=""> DEMO BUTTON </a> </div> </div> </div> </div> </div> <div class="shg-c-lg-8 shg-c-md-8 shg-c-sm-8 shg-c-xs-12"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c shogun-lazyload" id="s-319a639e-0455-46b3-8772-e189a8f1aad9"> <div class="shg-box-overlay"></div><div class="shg-box-video-wrapper"></div><div class="shg-box-content"> <div id="s-9bab9a5e-1c09-4ffe-8540-1104c0643934" class="shg-c "> <div class="shogun-video shogun-video-16x9"> <iframe class="shogun-video-embed" src="https://www.youtube.com/embed/?start=0&end=0&autoplay=1&loop=0&mute=1&rel=1" allowfullscreen title="Embedded Youtube Video" loading="eager"> </iframe> </div> </div> </div> </div> </div><script class="__SHG_DATA__" type="application/json">
      {
        "__shgVideoParallax": {
          "id": "#s-319a639e-0455-46b3-8772-e189a8f1aad9",
          "url": "",
          "sound": false,
          "speed": 1,
          "backupImage": ""
        }
      }
    </script> </div> </div> </div> </div> </div> </div> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-c274b570-4ede-4b77-ad54-4c9d1b5c32af"> <div class="shg-box-overlay"></div><div class="shg-box-video-wrapper"></div><div class="shg-box-content"> </div> </div> </div><script class="__SHG_DATA__" type="application/json">
      {
        "__shgVideoParallax": {
          "id": "#s-c274b570-4ede-4b77-ad54-4c9d1b5c32af",
          "url": "https://cdn.midjourney.com/video/d4768618-e928-4177-8eb1-084c2dc08309/2.mp4",
          "sound": false,
          "speed": 1,
          "backupImage": ""
        }
      }
    </script> </div> </div> </div> </div> </div> </div> </div>
{% schema %}
  {
    "name": "hero",
    "settings": [
      {
        "type": "header",
        "content": "SHOGUN SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Shogun](https://getshogun.com/shopify/deep_links/edit_section?id=69416b0aac99ecb492cb82e9&shop=schnappix.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Shogun Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "hero",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
