<div class="shogun-root" data-shogun-id="69416b0aac99ecb492cb82e9" data-shogun-site-id="adbd5cb7-d80d-42de-ac33-ae276198cf19" data-shogun-section-id="69416b0aac99ecb492cb82e9" data-shogun-section-version-id="69416f87efd57470800596ec" data-shogun-platform-type="shopify" data-shogun-variant-id="69416f87efd5747080059776" data-shogun-page-type="section" data-shogun-power-up-type="" data-shogun-power-up-id="" data-region="main"> <link rel="stylesheet" type="text/css" href="https://a.shgcdn2.com/css-2025-08-04-5653/69416f87efd57470800596ec_69416f87efd5747080059776.css"/> <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Karla:800,600|Work+Sans:400"/> <script type="text/javascript" src="https://a.shgcdn2.com/js-2025-09-16-1610/global-assets-9ef81eecf321a80bae2ba3793d0abdafd5eb31e7.js" defer></script> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-a131908d-ca7f-4990-aba7-b9c141f2d718"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-4f90ed4f-04c9-4e0e-b872-89d2e5f6595e"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-f29ab6f4-ac59-4685-80c1-5ed9a56c9ca6-root"> <div class="shg-image-margin-container-s-f29ab6f4-ac59-4685-80c1-5ed9a56c9ca6" id="wrap-s-f29ab6f4-ac59-4685-80c1-5ed9a56c9ca6"> <div class="s-f29ab6f4-ac59-4685-80c1-5ed9a56c9ca6 shg-align-container"> <div class="shg-c s-f29ab6f4-ac59-4685-80c1-5ed9a56c9ca6 shogun-image-container shg-align-center" id="s-f29ab6f4-ac59-4685-80c1-5ed9a56c9ca6"> <div class="shg-inner-inline-image"> <div class="shg-image-overflow"> <img srcset="https://i.shgcdn.com/ff35d9e3-bf57-4f53-a8db-88f61f6eaddd/-/resize/180x/ 180w,https://i.shgcdn.com/ff35d9e3-bf57-4f53-a8db-88f61f6eaddd/-/resize/360x/ 360w,https://i.shgcdn.com/ff35d9e3-bf57-4f53-a8db-88f61f6eaddd/-/resize/720x/ 720w,https://i.shgcdn.com/ff35d9e3-bf57-4f53-a8db-88f61f6eaddd/-/resize/900x/ 900w,https://i.shgcdn.com/ff35d9e3-bf57-4f53-a8db-88f61f6eaddd/-/resize/1080x/ 1080w,https://i.shgcdn.com/ff35d9e3-bf57-4f53-a8db-88f61f6eaddd/-/resize/1200x/ 1200w" sizes="100vw" src="https://i.shgcdn.com/ff35d9e3-bf57-4f53-a8db-88f61f6eaddd/" class="shogun-image " decoding="async" loading="lazy" draggable="false"/> </div> <img style="display:none" class="shogun-image-unsplash-tracker" src="https://views.unsplash.com/v?app_id=226925&photo_id=8B5OuDFM_mw"/> </div> <div class="shg-imageV3-content shogun-image-content-v3 shogun-image-content-not-linked"> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-2f96dd23-6082-4ada-9a47-b601b7d47f32"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-f2c5d4ed-ef64-469a-8678-aa249e59a5c0" class="shg-c shg-align-left"> <div class="shogun-heading-component"> <h2> Schnappix </h2> </div> </div> <div id="s-0bffa957-c04d-48e7-9429-62b6f3e21f5c" class="shg-c shg-align-left"> <div class="shogun-heading-component"> <h3> Snacks, Drinks &amp; Trends <br>– immer dort, wo du bist. </h3> </div> </div> <div id="s-d126c863-d4bc-455b-aeb3-393e044da055-root" class="shg-c shg-btn-wrapper shg-align-left"> <a id="s-d126c863-d4bc-455b-aeb3-393e044da055" class="shg-btn shg-cse shg-btn-text " href="https://schnappix.com/pages/247-shops" target="_blank"> Entdecke 24/7 SHOP </a> </div> </div> </div> </div> </div> </div> </div> </div> <div class="shg-image-content-margin-container-s-f29ab6f4-ac59-4685-80c1-5ed9a56c9ca6" id="wrap-content-s-f29ab6f4-ac59-4685-80c1-5ed9a56c9ca6"> <div class="s-f29ab6f4-ac59-4685-80c1-5ed9a56c9ca6 shg-image-content-wrapper"> </div> </div> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageV3Elements": { "uuid": "s-f29ab6f4-ac59-4685-80c1-5ed9a56c9ca6" }
    }
  </script> </div> </div> </div> </div> </div> </div> </div>
{% schema %}
  {
    "name": "hero",
    "settings": [
      {
        "type": "header",
        "content": "SHOGUN SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Shogun](https://getshogun.com/shopify/deep_links/edit_section?id=69416b0aac99ecb492cb82e9&shop=schnappix.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Shogun Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "hero",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
