<div class="shogun-root" data-shogun-id="69416b0aac99ecb492cb82e9" data-shogun-site-id="adbd5cb7-d80d-42de-ac33-ae276198cf19" data-shogun-section-id="69416b0aac99ecb492cb82e9" data-shogun-section-version-id="69416b5f40b4d7d113674754" data-shogun-platform-type="shopify" data-shogun-variant-id="69416b5f40b4d7d1136747cf" data-shogun-page-type="section" data-shogun-power-up-type="" data-shogun-power-up-id="" data-region="main"> <link rel="stylesheet" type="text/css" href="https://a.shgcdn2.com/css-2025-08-04-5653/69416b5f40b4d7d113674754_69416b5f40b4d7d1136747cf.css"/> <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Karla:800,normal,600|Work+Sans:400"/> <script type="text/javascript" src="https://a.shgcdn2.com/js-2025-09-16-1610/global-assets-9ef81eecf321a80bae2ba3793d0abdafd5eb31e7.js" defer></script> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-baca67c2-e106-4eee-8dc1-068a70ae92a2"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-84573445-a404-4878-937f-b8643abe878f-root"> <div class="shg-image-margin-container-s-84573445-a404-4878-937f-b8643abe878f" id="wrap-s-84573445-a404-4878-937f-b8643abe878f"> <div class="s-84573445-a404-4878-937f-b8643abe878f shg-align-container"> <div class="shg-c s-84573445-a404-4878-937f-b8643abe878f shogun-image-container shg-align-center" id="s-84573445-a404-4878-937f-b8643abe878f"> <div class="shg-inner-inline-image"> <div class="shg-image-overflow"> <img srcset="https://i.shgcdn.com/7ef29856-2384-489b-a319-72a1936f7290/-/format/auto/-/quality/normal/-/resize/180x/ 180w,https://i.shgcdn.com/7ef29856-2384-489b-a319-72a1936f7290/-/format/auto/-/quality/normal/-/resize/360x/ 360w,https://i.shgcdn.com/7ef29856-2384-489b-a319-72a1936f7290/-/format/auto/-/quality/normal/-/resize/720x/ 720w,https://i.shgcdn.com/7ef29856-2384-489b-a319-72a1936f7290/-/format/auto/-/quality/normal/-/resize/900x/ 900w,https://i.shgcdn.com/7ef29856-2384-489b-a319-72a1936f7290/-/format/auto/-/quality/normal/-/resize/1080x/ 1080w,https://i.shgcdn.com/7ef29856-2384-489b-a319-72a1936f7290/-/format/auto/-/quality/normal/-/resize/1200x/ 1200w,https://i.shgcdn.com/7ef29856-2384-489b-a319-72a1936f7290/-/format/auto/-/quality/normal/-/resize/1920x/ 1920w,https://i.shgcdn.com/7ef29856-2384-489b-a319-72a1936f7290/-/format/auto/-/quality/normal/-/resize/2048x/ 2048w" sizes="100vw" src="https://i.shgcdn.com/7ef29856-2384-489b-a319-72a1936f7290/-/format/auto/-/quality/normal/" alt="A pair of red and black sneakers, resting on a marble surface" class="shogun-image " decoding="async" loading="eager" draggable="false"/> </div> </div> <div class="shg-imageV3-content shogun-image-content-v3 shogun-image-content-not-linked"> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-9c507940-31ee-4285-a272-a63e3cd3d57b"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-dd42ddcf-5635-4428-9cae-69bc8cf461ee" class="shg-c shg-align-left"> <div class="shogun-heading-component"> <h3> INTRODUCING </h3> </div> </div> <div id="s-c408374b-d32d-4000-96ba-532c5aeb0beb" class="shg-c shg-align-left"> <div class="shogun-heading-component"> <h2> Sneaker Low </h2> </div> </div> <div id="s-f9ba68c7-c5ac-4c79-9e4d-d69166e5587c" class="shg-c shg-align-left"> <div class="shogun-heading-component"> <h4> Designed by Virgil Tigues </h4> </div> </div> <div id="s-3400feff-a4ac-4b1d-9291-ad46ad891dae-root" class="shg-c shg-btn-wrapper shg-align-left"> <a id="s-3400feff-a4ac-4b1d-9291-ad46ad891dae" class="shg-btn shg-cse shg-btn-text " href=""> Buy Now </a> </div> </div> </div> </div> </div> </div> </div> </div> <div class="shg-image-content-margin-container-s-84573445-a404-4878-937f-b8643abe878f" id="wrap-content-s-84573445-a404-4878-937f-b8643abe878f"> <div class="s-84573445-a404-4878-937f-b8643abe878f shg-image-content-wrapper"> </div> </div> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageV3Elements": { "uuid": "s-84573445-a404-4878-937f-b8643abe878f" }
    }
  </script> </div> </div> </div> </div>
{% schema %}
  {
    "name": "hero",
    "settings": [
      {
        "type": "header",
        "content": "SHOGUN SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Shogun](https://getshogun.com/shopify/deep_links/edit_section?id=69416b0aac99ecb492cb82e9&shop=schnappix.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Shogun Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "hero",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
